<div class="ecommerce-header">
    <div class="ecommerce-logo">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
        BuyBliss
    </div>
    <div class="ecommerce-header-nav">
    <div class="ecommerce-top-bar">
        <a href="#">Help</a>
        <a href="#">Exchange & Returns</a>
        <a href="#">Order tracker</a>
        <a href="#">Sign up / Login</a>
    </div>
    <div class="ecommerce-bottom-bar">
        <div class="ecommerce-menu">
            <a href="#">Home</a>
            <a href="#">Product</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="ecommerce-search-bar">
            <input type="text" placeholder="Search" class="ecommerce-search-box">
            <button class="ecommerce-search-button" title="Search"><i class="fa fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
</div>