<div class="ecommerce-search-product">
    <input class="ecommerce-search-product-input" [(ngModel)]="searchText">
    <!--<input class="ecommerce-search-product-input" [value]="searchText" (input)="updateSearchText($event)">-->
    <button [ngClass]="{'btn': true,'btn-search':searchText,'btn-search-disabled': !searchText}" [disabled]="!searchText">Search</button>
</div>
<div class="ecommerce-search-result-for"><p *ngIf="searchText != ''"><strong>Search result for:</strong> {{searchText}}</p></div>

